---
import { getCollection } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import { Image } from 'astro:assets';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 6);
---
<section class="max-w-1200 mx-auto py-16 px-6">
  <h2 class=" mb-8 text-center text-yellow-400">Latest Blog Posts</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {posts.map((post) => (
      <a href={`/blog/${post.slug}`} class="bg-white/5 shadow-md border border-white/10 hover:border-yellow-400 rounded-2xl shadow-sm overflow-hidden  no-underline text-inherit transition-all duration-200 hover:shadow-lg hover:border-yellow-300">
        {post.data.image && (
          <Image src={post.data.image} alt={post.data.title} width={400} height={200} class="w-full sm:h-48 h-60 lg:h-48 object-fit transition-transform duration-200 block bg-navy-600 hover:scale-105" />
        )}
        <div class="p-6 flex flex-col flex-1 ">
          <h3 class="text-lg mb-2  text-gray-200 transition-colors duration-200 hover:text-yellow-400">{post.data.title}</h3>
          <p class="text-base text-yellow-400 mb-4"><FormattedDate date={post.data.pubDate} /></p>
          <p class="text-muted text-md line-clamp-3 flex-1">{post.data.description || ''}</p>
        </div>
      </a>
    ))}
  </div>
</section>

 